@font-face {
  font-family: 'Metropolis-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Metropolis-ExtraLight.otf');
}

.postCard{
	padding: 1em;
	font-size: 1em;
	line-height: 1.7;
}

.cardHeading{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Metropolis-ExtraLight', sans-serif;
}